#headings {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    /* min-width: 90vh;   */
} 
#headings p{
    color: #000000;
    font-family: 'REM', sans-serif;
}
h1{
    /* font-family: 'Gloria Hallelujah', cursive; */
font-family: 'Homemade Apple', cursive;
/* font-family: 'Montserrat', sans-serif; */
    font-weight: 700; 
} 

img{
    width: 150px; 
    height: 150px;
}
#profile {
    background-color: #ffffffd5;
    border-radius: 5px;
    min-height: 60vh;
    overflow-y: auto;
}
body{
    background-image: url('../images/HomePageBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
}
button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }
   a {
    color: #000000;
    text-decoration: none;
}
#catList{
    font-family: 'Gloria Hallelujah', cursive;
    padding-bottom: 1em;
}